.buttons-all {
    display: flex;
    justify-content: center;
}

.choice-button {
    background-color: white;
    color: black;
    width: 90px;
    height: 40px;
    border: 2px solid aquamarine;
    border-radius: 12px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
}

.choice-button:hover {
    background-color: gray;
    color: white;
}