.buttons-all {
    display: flex;
    justify-content: center;
}

.choice-button {
    background-color: white;
    color: #000000;
    width: 160px;
    height: 60px;
    border: 6px solid aquamarine;
    border-radius: 12px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
}

.choice-button:hover {
    background-color: lightgray;
    color: black;
}

.choices {
    display: flex;
    justify-content: center;
}

.game-space {
    display: flex;
    justify-content: center;
}

.game-text {
    width: 2000px;
    display: flex;
    justify-content: center;
}

.text {
    display: flex;
    justify-content: center;
}

.score-box {
    display: flex;
    justify-content: center;
}

.game {
    width: 900px;
    height: 300px;
    
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    
    margin: auto;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.flex-container > .cols {
    flex: 1 1 30%;
    height: 500px;
}

.cols {
    border: solid;
}